.page-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-container {
    display: flex;
    width: 70%;
    height: 90%;
}

.img01 {
    background-image: url("../images/signin-bg.jpg");
}

.img02 {
    background-image: url("../images/register.jpg");
}

.img-wrapper {
    width: 50%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.form-wrapper {
    padding: 1rem;
    width: 50%;
    border: 2px solid black;
    border-left: none;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.form-wrapper h2 {
    font-size: 30px;
    font-weight: 300;
}
.form-wrapper p {
    margin-top: -30px;
}

.form-block {
    width: 80%;
}

.form-block label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cusInput {
    padding: 10px 10px;
}

.btnWrapper, .form-block:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 50%;
    height: 2.5rem;
    font-size: 16px;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
}

.form-block:last-child p {
    font-size: 12px;
}

.form-block:last-child p a {
    color: #4287f5;
    text-decoration: none;
}