.section-banner {
    width: 100%;
    height: 100vh;
    background-image: url("/static/images/banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-banner h1 {
    font-size: 5rem;
    font-weight: 300;
}

.section-banner a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 15px;
    border-radius: 10px;
    transition: transform 200ms ease;
}

.section-banner a:hover {
    transform: scale(1.1);
}

.section-story {
    padding-top: 5rem;
    width: 80%;
    height: 100vh;
    margin: auto;
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-direction: column;
}

.section-story h2, .section-location h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
}

.section-story-wrapper {
    align-self: flex-start;
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(71, 85, 105, 0.12);
    border-radius: 20px;
}

.section-story-img {
    width: 50%;
    height: 100%;
    background-image: url("/static/images/interior.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.section-story-about {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
}

.section-story-about p {
    text-align: center;
    line-height: 2rem;
}

.section-story-about a, .section-location a {
    text-decoration: none;
    background-color: black;
    color: white;
    height: 3.2rem;
    width: 12rem;
    border-radius: 12px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-location {
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-direction: column;
}

.section-location-wrapper {
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.section-location-item {
    width: 20rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.section-location-item div {
    z-index: 9;
    width: 100%;
    height: 80px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0,0,0);
    background: linear-gradient(360deg, rgba(0,0,0,1) 1%, rgba(5,5,5,1) 18%, rgba(44, 42, 42, 0.34) 70%);
}

.item1 {
    background-image: url("/static/images/colombo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.item2 {
    background-image: url("/static/images/kandy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.item3 {
    background-image: url("/static/images/nuwara-eliya.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.item4 {
    background-image: url("/static/images/park-street.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}