<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signature Cuisine | Facilities</title>
    <link href="../static/css/globals.css" rel="stylesheet" th:href="@{/css/globals.css}" />
    <link href="../static/css/nav.css" rel="stylesheet" th:href="@{/css/nav.css}" />
    <link href="../static/css/facility.css" rel="stylesheet" th:href="@{/css/facility.css}" />
    <link href="../static/css/footer.css" rel="stylesheet" th:href="@{/css/footer.css}" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
    <header class="nav-header">
        <nav class="nav-wrapper">
            <div class="nav-logo-wrapper">
                <a href="/" class="nav-logo">Signature Cuisine</a>
            </div>
            <ul class="nav-links">
                <li><a href="/menu">Our Menu</a></li>
                <li><a href="/facility" style="font-weight: bold">Facilities</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/reservation">Reservation</a></li>
            </ul>
            <div class="nav-user-opt">
                <a href="/sign-in">Sign In</a>
                <a href="/sign-up">Register</a>
            </div>
            <div class="userAuthed">
                <a href="#">
                    <span>
                        <ion-icon name="person-outline"></ion-icon>
                    </span>
                </a>
            </div>
        </nav>
    </header>
    <main>
        <section class="section-facility-intro">
            <h1>Your Happiness is our Success</h1>
            <div class="arrow-wrapper">
                <ion-icon name="arrow-down-outline"></ion-icon>
            </div>
        </section>
        <section class="section-facility-description">
            <p>Discover the exceptional facilities that elevate your dining experience at Signature Cuisine. Our restaurants are designed to cater to your every need, whether you're planning a special event, a cozy family dinner, or a business gathering. From elegant banquet halls to private dining options, spacious outdoor seating, and convenient parking, our facilities are tailored to create the perfect ambiance for your memorable moments. We take pride in providing a comfortable and welcoming environment that complements our exquisite cuisine. Explore our versatile facilities and let us make your visit truly exceptional. </p>
        </section>
        <section class="section-facility-items">
            <div class="facility-item">
                <div class="facility-item-image facilityItem01"></div>
                <div class="facility-item-text">
                    <p>At Signature Cuisine, our kitchen is a harmonious blend of precision and creativity. With top-notch equipment, dedicated workstations, and skilled chefs, it's where culinary excellence comes to life. We prioritize freshness and hygiene to deliver exceptional flavors to our valued guests.</p>
                </div>
            </div>
            <div class="facility-item">
                <div class="facility-item-image facilityItem02"></div>
                <div class="facility-item-text">
                    <p>At Signature Cuisine, we take pride in our thoughtfully designed dining area. Every detail, from table placement to lighting and ambiance, ensures a welcoming and comfortable atmosphere. Whether it's a special occasion, family meal, or business meeting, our elegant space enhances your dining experience. We look forward to hosting you in our inviting restaurant.</p>
                </div>
            </div>
            <div class="facility-item">
                <div class="facility-item-image facilityItem03"></div>
                <div class="facility-item-text">
                    <p>At Signature Cuisine, our commitment to excellence extends even to our well-organized washrooms. We prioritize cleanliness and comfort, providing modern amenities for your convenience. Your comfort is our priority, ensuring a seamless and enjoyable visit from dining to washroom facilities.</p>
                </div>
            </div>
            <div class="facility-item">
                <div class="facility-item-image facilityItem04"></div>
                <div class="facility-item-text">At Signature Cuisine, we are dedicated to culinary excellence. Our skilled chefs, top-quality ingredients, and meticulous attention to detail create both delicious and artistic dishes. Join us for a dining experience that celebrates taste and craftsmanship, defining our restaurant.</div>
            </div>
        </section>
        <section class="section-other-facility">
            <h2>Other facilities we provide</h2>
            <div class="other-facility-wrapper">
                <div class="other-facility-item">
                    <img src="../static/images/parking.png" th:src="@{/images/parking.png}" alt="car parking" />
                    <p>Secure and Private Parking</p>
                </div>
                <div class="other-facility-item">
                    <img src="../static/images/live-music.png" th:src="@{/images/live-music.png}" alt="music" />
                    <p>Live music for your ears</p>
                </div>
                <div class="other-facility-item">
                    <img src="../static/images/temperature-sensor.png" th:src="@{/images/temperature-sensor.png}" alt="temperature" />
                    <p>Air Conditioning</p>
                </div>
                <div class="other-facility-item">
                    <img src="../static/images/baby-chair.png" th:src="@{/images/baby-chair.png}" alt="Children's amenities" />
                    <p>Children's amenities</p>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer-wrapper">
        <div class="footer-socials">
            <ion-icon name="logo-facebook"></ion-icon>
            <ion-icon name="logo-instagram"></ion-icon>
            <ion-icon name="logo-youtube"></ion-icon>
        </div>
        <div class="footer-rights">
            <small>&copy; 2023 Signature Cuisine. All Rights Reserved</small>
        </div>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script th:src="@{/js/navigationUpdate.js}" type="text/javascript"></script>
</body>
</html>