<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signature Cuisine | Gallery</title>
    <link href="../static/css/globals.css" rel="stylesheet" th:href="@{/css/globals.css}" />
    <link href="../static/css/nav.css" rel="stylesheet" th:href="@{/css/nav.css}" />
    <link href="../static/css/gallery.css" rel="stylesheet" th:href="@{/css/gallery.css}" />
    <link href="../static/css/footer.css" rel="stylesheet" th:href="@{/css/footer.css}" />
</head>
<body>
    <header class="nav-header">
        <nav class="nav-wrapper">
            <div class="nav-logo-wrapper">
                <a href="/" class="nav-logo">Signature Cuisine</a>
            </div>
            <ul class="nav-links">
                <li><a href="/menu">Our Menu</a></li>
                <li><a href="/facility">Facilities</a></li>
                <li><a href="/gallery" style="font-weight: bold">Gallery</a></li>
                <li><a href="/reservation">Reservation</a></li>
            </ul>
            <div class="nav-user-opt">
                <a href="/sign-in">Sign In</a>
                <a href="/sign-up">Register</a>
            </div>
      </nav>
    </header>
    <main>
        <section class="section-heading">
            <h1>Some of our Signature Captures</h1>
        </section>
        <section class="section-gallery">
            <div class="gallery-item">
                <div class="gallery-heading">
                    <hr />
                    <h3>2023</h3>
                    <hr />
                </div>
                <div class="gallery-images">
                    <div class="img-sec01">
                        <img src="../static/images/gallery/gImg1.jpg" loading="lazy" th:src="@{/images/gallery/gImg1.jpg}" alt="img01" />
                    </div>
                    <div class="img-sec02">
                        <div class="img-sec02-sub">
                            <img src="../static/images/gallery/gImg2.jpg" loading="lazy" th:src="@{/images/gallery/gImg2.jpg}" alt="img02" />
                            <img src="../static/images/gallery/gImg3.jpg" loading="lazy" th:src="@{/images/gallery/gImg3.jpg}" alt="img03" />
                        </div>
                        <div class="img-sec02-sub">
                            <img src="../static/images/gallery/gImg4.jpg" loading="lazy" th:src="@{/images/gallery/gImg4.jpg}" alt="img04" />
                            <img src="../static/images/gallery/gImg5.jpg" loading="lazy" th:src="@{/images/gallery/gImg5.jpg}" alt="img05" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-heading">
                    <hr />
                    <h3>2022</h3>
                    <hr />
                </div>
                <div class="gallery-images set02">
                    <div class="img-sec01">
                        <img src="../static/images/gallery/gImg6.jpg" loading="lazy" th:src="@{/images/gallery/gImg6.jpg}" alt="img06" />
                        <img src="../static/images/gallery/gImg7.jpg" loading="lazy" th:src="@{/images/gallery/gImg7.jpg}" alt="img07" />
                    </div>
                    <div class="img-sec02">
                        <img src="../static/images/gallery/gImg14.jpg" loading="lazy" th:src="@{/images/gallery/gImg14.jpg}" alt="img14" />
                    </div>
                    <div class="img-sec03">
                        <img src="../static/images/gallery/gImg8.jpg" loading="lazy" th:src="@{/images/gallery/gImg8.jpg}" alt="img08" />
                        <img src="../static/images/gallery/gImg9.jpg" loading="lazy" th:src="@{/images/gallery/gImg9.jpg}" alt="img09" />
                    </div>
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-heading">
                    <hr />
                    <h3>2021</h3>
                    <hr />
                </div>
                <div class="gallery-images set03">
                    <div class="img-sec01">
                        <img src="../static/images/gallery/gImg10.jpg" loading="lazy" th:src="@{/images/gallery/gImg10.jpg}" alt="img10" />
                    </div>
                    <div class="img-sec02">
                        <div class="img-sec02-sub">
                            <img src="../static/images/gallery/gImg11.jpg" loading="lazy" th:src="@{/images/gallery/gImg11.jpg}" alt="img11" />
                            <img src="../static/images/gallery/gImg12.jpg" loading="lazy" th:src="@{/images/gallery/gImg12.jpg}" alt="img12" />
                        </div>
                        <div class="img-sec02-sub">
                            <img src="../static/images/gallery/gImg13.jpg" loading="lazy" th:src="@{/images/gallery/gImg13.jpg}" alt="img13" />
                            <img src="../static/images/gallery/gImg5.jpg" loading="lazy" th:src="@{/images/gallery/gImg5.jpg}" alt="img05" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-heading">
                    <hr />
                    <h3>2020</h3>
                    <hr />
                </div>
                <div class="gallery-images set04">
                    <div class="img-sec01">
                        <div class="img-sec01-subsection">
                            <div class="subsection-row">
                                <img src="../static/images/gallery/gImg16.jpg" loading="lazy" th:src="@{/images/gallery/gImg16.jpg}" alt="img16" />
                                <img src="../static/images/gallery/gImg17.jpg" loading="lazy" th:src="@{/images/gallery/gImg17.jpg}" alt="img17" />
                            </div>
                            <div class="subsection-row">
                                <img src="../static/images/gallery/gImg18.jpg" loading="lazy" th:src="@{/images/gallery/gImg18.jpg}" alt="img18" />
                                <img src="../static/images/gallery/gImg19.jpg" loading="lazy" th:src="@{/images/gallery/gImg19.jpg}" alt="img19" />
                            </div>
                        </div>
                        <div class="img-sec01-subsection">
                            <div class="subsection-row">
                                <img src="../static/images/gallery/gImg20.jpg" loading="lazy" th:src="@{/images/gallery/gImg20.jpg}" alt="img20" />
                                <img src="../static/images/gallery/gImg21.jpg" loading="lazy" th:src="@{/images/gallery/gImg21.jpg}" alt="img21" />
                            </div>
                            <div class="subsection-row">
                                <img src="../static/images/gallery/gImg22.jpg" loading="lazy" th:src="@{/images/gallery/gImg22.jpg}" alt="img22" />
                                <img src="../static/images/gallery/gImg23.jpg" loading="lazy" th:src="@{/images/gallery/gImg23.jpg}" alt="img23" />
                            </div>
                        </div>
                    </div>
                    <div class="img-sec02">
                        <img src="../static/images/gallery/gImg15.jpg" loading="lazy" th:src="@{/images/gallery/gImg15.jpg}" alt="img15" />
                    </div>
                    <div class="img-sec03">
                        <div class="img-sec01-subsection">
                            <div class="subsection-row">
                                <img src="../static/images/gallery/gImg24.jpg" loading="lazy" th:src="@{/images/gallery/gImg24.jpg}" alt="img24" />
                                <img src="../static/images/gallery/gImg25.jpg" loading="lazy" th:src="@{/images/gallery/gImg25.jpg}" alt="img25" />
                            </div>
                            <div class="subsection-row">
                                <img src="../static/images/gallery/gImg26.jpg" loading="lazy" th:src="@{/images/gallery/gImg26.jpg}" alt="img26" />
                                <img src="../static/images/gallery/gImg27.jpg" loading="lazy" th:src="@{/images/gallery/gImg27.jpg}" alt="img27" />
                            </div>
                        </div>
                        <div class="img-sec01-subsection">
                            <div class="subsection-row">
                                <img src="../static/images/gallery/gImg28.jpg" loading="lazy" th:src="@{/images/gallery/gImg28.jpg}" alt="img28" />
                                <img src="../static/images/gallery/gImg29.jpg" loading="lazy" th:src="@{/images/gallery/gImg29.jpg}" alt="img29" />
                            </div>
                            <div class="subsection-row">
                                <img src="../static/images/gallery/gImg30.jpg" loading="lazy" th:src="@{/images/gallery/gImg30.jpg}" alt="img30" />
                                <img src="../static/images/gallery/gImg31.jpg" loading="lazy" th:src="@{/images/gallery/gImg31.jpg}" alt="img31" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer-wrapper">
        <div class="footer-socials">
            <ion-icon name="logo-facebook"></ion-icon>
            <ion-icon name="logo-instagram"></ion-icon>
            <ion-icon name="logo-youtube"></ion-icon>
        </div>
        <div class="footer-rights">
            <small>&copy; 2023 Signature Cuisine. All Rights Reserved</small>
        </div>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>