<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signature Cuisine | Home</title>
    <link href="../static/css/globals.css" rel="stylesheet" th:href="@{/css/globals.css}" />
    <link href="../static/css/nav.css" rel="stylesheet" th:href="@{/css/nav.css}" />
    <link href="../static/css/home.css" rel="stylesheet" th:href="@{/css/home.css}" />
    <link href="../static/css/footer.css" rel="stylesheet" th:href="@{/css/footer.css}" />
</head>
<body>
    <header class="nav-header">
        <nav class="nav-wrapper">
            <div class="nav-logo-wrapper">
                <a href="/" class="nav-logo">Signature Cuisine</a>
            </div>
            <ul class="nav-links">
                <li><a href="/menu">Our Menu</a></li>
                <li><a href="#">Facilities</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Reservation</a></li>
            </ul>
            <div class="nav-user-opt">
                <ion-icon name="notifications-outline"></ion-icon>
                <ion-icon name="person-outline"></ion-icon>
            </div>
        </nav>
    </header>
    <main>
        <section class="section-banner">
            <h1>The most signature cuisine in town</h1>
            <a href="/reservation">Reserve your Experience</a>
        </section>
        <section class="section-story">
            <h2>Our Story</h2>
            <div class="section-story-wrapper">
                <div class="section-story-img"></div>
                <div class="section-story-about">
                    <p>At Signature Cuisine, we're dedicated to crafting exceptional dining experiences. With a rich culinary heritage, our chefs and staff create cherished memories. Experience our signature dishes and warm hospitality. Welcome to a world of exquisite cuisine and celebration.</p>
                    <a href="/about">Get to know us better</a>
                </div>
            </div>
        </section>
        <section class="section-location">
            <h2>Where to find us</h2>
            <div class="section-location-wrapper">
                <div class="section-location-item item1">
                    <div>
                        <h3>Colombo</h3>
                    </div>
                </div>
                <div class="section-location-item item2">
                    <div>
                        <h3>Kandy</h3>
                    </div>
                </div>
                <div class="section-location-item item3">
                    <div>
                        <h3>Nuwara Eliya</h3>
                    </div>
                </div>
                <div class="section-location-item item4">
                    <div>
                        <h3>Galle</h3>
                    </div>
                </div>
            </div>
            <a href="/#">More Locations</a>
        </section>
        <section class="section-cuisine">
            <h2>Our signature cuisines</h2>
            <div class="cuisine-wrapper">
                <div class="cuisine-row">
                    <div class="cuisine-item">
                        <div class="cuisine-item-image cuisineImg01"></div>
                        <div class="cuisine-item-text">
                            <div class="text-section">
                                <ion-icon name="remove-outline"></ion-icon>
                                <span>Sri Lankan</span>
                                <ion-icon name="remove-outline"></ion-icon>
                            </div>
                            <div class="description">
                                <p>A flavorful blend of spices, coconuts, and tropical ingredients, offering sweet, savory, and spicy delights.</p>
                            </div>
                            <a href="/menu">Full Sri Lankan Menu</a>
                        </div>
                    </div>
                    <div class="cuisine-item">
                        <div class="cuisine-item-image cuisineImg02"></div>
                        <div class="cuisine-item-text">
                            <div class="text-section">
                                <ion-icon name="remove-outline"></ion-icon>
                                <span>Indian</span>
                                <ion-icon name="remove-outline"></ion-icon>
                            </div>
                            <div class="description">
                                <p>Indian cuisine is renowned for its diverse and spicy flavors, featuring a broad spectrum of dishes reflecting the country's rich culture and geography.</p>
                            </div>
                            <a href="/menu">Full Indian Menu</a>
                        </div>
                    </div>
                </div>
                <div class="cuisine-row">
                    <div class="cuisine-item">
                        <div class="cuisine-item-text">
                            <div class="text-section">
                                <ion-icon name="remove-outline"></ion-icon>
                                <span>Chinese</span>
                                <ion-icon name="remove-outline"></ion-icon>
                            </div>
                            <div class="description">
                                <p>Chinese cuisine offers diverse flavors, techniques, and regional dishes, known for its balance of sweet, sour, salty, bitter, and umami flavors.</p>
                            </div>
                            <a href="/menu">Full Chinese Menu</a>
                        </div>
                        <div class="cuisine-item-image cuisineImg03"></div>
                    </div>
                    <div class="cuisine-item">
                        <div class="cuisine-item-text">
                            <div class="text-section">
                                <ion-icon name="remove-outline"></ion-icon>
                                <span>French</span>
                                <ion-icon name="remove-outline"></ion-icon>
                            </div>
                            <div class="description">
                                <p>French cuisine is renowned for its exquisite flavors, meticulous preparation, and diverse regional variations, emphasizing fresh, high-quality ingredients and iconic dishes. It's celebrated for its culinary artistry, from coq au vin to pastries, cheeses, and wines.</p>
                            </div>
                            <a href="/menu">Full French Menu</a>
                        </div>
                        <div class="cuisine-item-image cuisineImg04"></div>
                    </div>
                </div>
            </div>
            <a href="/#" class="section-cuisine-link">Full Menu</a>
        </section>
        <section class="section-reserve">
            <h3>Haven't Reserved your table yet?</h3>
            <a href="/reservation">Book now</a>
        </section>
        <section class="section-contact">
            <h2>Get in touch</h2>
            <div class="section-contact-wrapper">
                <div class="contact-item">
                    <h3>Email</h3>
                    <ion-icon name="send-outline"></ion-icon>
                    <p>signatureCuisine@gmail.com</p>
                </div>
                <div class="contact-item">
                    <h3>Phone</h3>
                    <ion-icon name="call-outline"></ion-icon>
                    <p>(+94) 011 123 4567</p>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer-wrapper">
        <div class="footer-socials">
            <ion-icon name="logo-facebook"></ion-icon>
            <ion-icon name="logo-instagram"></ion-icon>
            <ion-icon name="logo-youtube"></ion-icon>
        </div>
        <div class="footer-rights">
            <small>&copy; 2023 Signature Cuisine. All Rights Reserved</small>
        </div>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>