<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="../static/css/globals.css" rel="stylesheet" th:href="@{/css/globals.css}" />
    <link href="../static/css/nav.css" rel="stylesheet" th:href="@{/css/nav.css}" />
    <link href="../static/css/home.css" rel="stylesheet" th:href="@{/css/home.css}" />
    <link href="../static/css/footer.css" rel="stylesheet" th:href="@{/css/footer.css}" />
</head>
<body>
    <header class="nav-header">
        <nav class="nav-wrapper">
            <div class="nav-logo-wrapper">
                <a href="/" class="nav-logo">Signature Cuisine</a>
            </div>
            <ul class="nav-links">
                <li><a href="#">Our Menu</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Reservation</a></li>
            </ul>
            <div class="nav-user-opt">
                <ion-icon name="notifications-outline"></ion-icon>
                <ion-icon name="person-outline"></ion-icon>
            </div>
        </nav>
    </header>
    <section class="section-banner">
        <h1>The most signature cuisine in town</h1>
        <a href="/reservation">Reserve your Experience</a>
    </section>

    <footer class="footer-wrapper">
        <div class="footer-socials">
            <ion-icon name="logo-facebook"></ion-icon>
            <ion-icon name="logo-instagram"></ion-icon>
            <ion-icon name="logo-youtube"></ion-icon>
        </div>
        <div class="footer-rights">
            <small>&copy; 2023 Signature Cuisine. All Rights Reserved</small>
        </div>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>