<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signature Cuisine | Reservation</title>
    <link href="../static/css/globals.css" rel="stylesheet" th:href="@{/css/globals.css}" />
    <link href="../static/css/nav.css" rel="stylesheet" th:href="@{/css/nav.css}" />
    <link href="../static/css/reservation.css" rel="stylesheet" th:href="@{/css/reservation.css}" />
    <link href="../static/css/footer.css" rel="stylesheet" th:href="@{/css/footer.css}" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
    <header class="nav-header">
        <nav class="nav-wrapper">
            <div class="nav-logo-wrapper">
                <a href="/" class="nav-logo">Signature Cuisine</a>
            </div>
            <ul class="nav-links">
                <li><a href="/menu">Our Menu</a></li>
                <li><a href="/facility">Facilities</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/reservation" style="font-weight: bold">Reservation</a></li>
            </ul>
            <div class="nav-user-opt">
                <a href="/sign-in">Sign In</a>
                <a href="/sign-up">Register</a>
            </div>
        </nav>
    </header>
    <main>
        <section class="section-heading">
            <h1>Let's get your spot secured</h1>
        </section>
        <section class="section-form">
            <form id="reservation-form">
                <div class="form-input-block">
                    <label>
                        Full Name *
                        <input type="text" name="fullName" id="iFullName" required class="customInput" data-output-id="fullName"/>
                    </label>
                </div>
                <div class="form-input-block">
                    <label>Contact Number *
                        <input type="tel" name="mobile" id="iContact" required pattern="^0[1-9][0-9]{8}$" class="customInput" data-output-id="contact"/>
                    </label>
                </div>
                <div class="form-input-block">
                    <label>Email Address *
                        <input type="email" name="email" id="iEmail" required class="customInput" data-output-id="email"/>
                    </label>
                </div>
                <div class="form-input-block">
                    <label>Number of People *
                        <input type="number" name="numGuest" id="iNumPeople" max="10" min="1" required class="customInput" data-output-id="numGuest"/>
                    </label>
                </div>
                <div class="form-input-block" >
                    <label>Reservation date *
                        <input type="date" name="date" id="iReservationDate" required class="customInput" data-output-id="reservationDate"/>
                    </label>
                </div>
                <div class="form-input-block">
                    <label>Reservation type *
                        <select class="customInput" id="iReservationType" data-output-id="reservationType">
                            <option value="Lunch" selected>Lunch (From 11.00 AM to 3.00 PM)</option>
                            <option value="Dinner">Dinner (From 5.30 PM to 11.30 PM)</option>
                       </select>
                    </label>
                </div>
                <div class="form-input-block">
                    <label>Special Requests
                        <textarea rows="10" cols="50" class="customInput" id="textarea" data-output-id="specialReq"></textarea>
                    </label>
                </div>
                <div class="form-input-block">
                    <button class="customButton" type="submit">Book Table</button>
                </div>
            </form>
            <div class="summary">
                <h4>Booking Summary</h4>
                <form class="summary-text" id="summary-form">
                    <p>Full Name: <span class="output" id="fullName">n/a</span></p>
                    <p>Contact Number: <span id="contact">n/a</span></p>
                    <p>Email Address: <span id="email">n/a</span></p>
                    <p>Number of Guest: <span id="numGuest">n/a</span></p>
                    <p>Reservation Date: <span id="reservationDate">n/a</span></p>
                    <p>Reservation type: <span id="reservationType">n/a</span></p>
                    <p>Special Requests: <span id="specialReq">n/a</span></p>
                    <div class="availability-wrapper">
                        <button type="submit" id="check-avb">Check Availability</button>
                        <p id="availabilityStatus"></p>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer class="footer-wrapper">
        <div class="footer-socials">
            <ion-icon name="logo-facebook"></ion-icon>
            <ion-icon name="logo-instagram"></ion-icon>
            <ion-icon name="logo-youtube"></ion-icon>
        </div>
        <div class="footer-rights">
            <small>&copy; 2023 Signature Cuisine. All Rights Reserved</small>
        </div>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script th:src="@{/js/reservation.js}" type="text/javascript"></script>
</body>
</html>